.community_page {
    display: flex;
    width: 100%;
    height: 100%;

}
.community_page .community_frame {
    display: flex;
    width: 100%;
    height: 100%;
    background: #0b0e11;
}

.community_page .chat_frame {
    width: 30%;
    height: 1150px;
    display: flex;
    flex-direction: column;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 34px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgb(209 218 137 / 15%) 0px -36px 30px 0px inset, rgb(151 207 82 / 10%) 0px -79px 40px 0px inset, rgb(123 198 148 / 6%) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgb(218 235 187 / 9%) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgb(239 205 205 / 9%) 0px 32px 16px;
    box-shadow: 2px blueviolet;
}



.community_page .community_all_frame {
    width: 68%;
    height: 1150px;
    background: #0b0e11;
    border: 1px solid #ffffff;
    border-radius: 34px;
}

.community_page .chat_frame .chat_top {
    width: 100%;
    height: 94px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(228,228,228,0.83);

    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    color: #e8c4c4;
}

.community_page .chat_content {
    position: relative;
    padding: 17px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

.community_page .chat_content .chat_main {
    position: relative;
    width: 100%;
    /* padding: 17px; */

    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.community_page .chat_frame .chat_bott {
    width: 100%;
    height: 94px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(228,228,228,0.83);
}
.community_page .chat_bott .msg_input {
    padding: 20px;
    width: 276px;
    height: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f7f7f7;
    border-radius: 28px;
    border: none;
    outline-color: #257677;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.community_page .chat_bott .send_msg_btn {
    margin-left: 14px;
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(180deg, #55a99d 0%, #007665 100%);
    border:none;
}
.community_page .chat_main .msg_left {
    margin-left: 10px;
    padding: 9px;
    width: auto;
    height: auto;

    display: flex;
    background: rgba(228,228,228,0.83);
    border-radius: 20px 20px 20px 0px;
}

.community_page .msg_right {
    padding: 9px;
    margin-left: 135px;
    width: auto;
    height: auto;

    display: flex;
    background: #d0ece8;
    border-radius: 20px 20px 0px 20px;
}
.community_all_frame .article_tabs {
    width: 100%;
    height: 94px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(228,228,228,0.83);
} 
.article_main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.community_page .article_box {
    margin-top: 20px;
    width: 100%;
    height: 295px;
    display: flex;
    flex-direction: row;
}
.community_page .article_box .article_img_bg {
    position: relative;
    width: 50%;
    height: 295px;

    display: flex;
    border-radius: 0px 90px 0px 0px;
    background: url("/public/community/xasbulla.webp");
    background-size: cover;
    
}

.community_page .article_box .article_desc {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.community_page .article_desc .article_title {
    padding: 0px 15px;
    width: 100%;
    height: 90%;
}
.community_page .article_bott {
    width: 100%;
    height: 94px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(228,228,228,0.83);
}
.community_page .all_article_box {
width: 814.29px;
height: 170px;
border-radius: 30px;
background: #182226;
display: flex;
flex-direction: row;

}
.community_page .all_article_box .all_article_img {
width: 155px;
margin-top: 8px;
height: 155px;
border-radius: 30px 0px 0px 30px;
background:cover no-repeat;
}

.community_page .all_article_container {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 15px;
    
}
.community_page .all_article_author_user {
    position: relative;
    margin-left: 10px;

color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}

.community_page .all_article_title {
    position: relative;
    
color: #E3C08D;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.community_page .all_article_desc {
    position: relative;

color: #FFF;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 200;
line-height: 26px; /* 162.5% */
}

.community_page .time_moment {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 140px;
    margin-top: 130px;
}

.time_moment .data_comp {
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.time_moment .heartandeye {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    gap: 16px;
}
.css-rxbhh6 {
    flex-direction: row;
    margin: 10px 10px;
}