.order_page {
    width: 100%;
    height: auto;
    background: #0b0e11;

    display: flex;
}

.order_page .order_left {
    width: 70%;
    height: auto;
}

.order_page .order_right {
    margin-top: 86px;
    margin-left: 30px;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
}


.order_page .order_right .order_info_box {
    padding: 20px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    box-shadow: inset 0px 4px 4px rgba(0,0,0,0.25),inset 0px 4px 4px rgba(0,0,0,0.25),inset 0px 4px 4px rgba(0,0,0,0.25);
    border-radius: 16px;
}
.order_page .order_info_box .order_user_img {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order_page .order_user_img .order_user_avatar {
    position: relative;
    width: 117px;
    height: 112px;
    border-radius: 37px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: no-repeat lightgray 50%;
}
.order_page .order_user_img .avatar_1 {
    position: absolute;
    bottom: -10px;
    left: 80px;
    width: 30px;
    height: 30px;
    border-radius: 37px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.33);
      
}
.Ismoilov-Akmaljon {
    position: relative;
    margin-top: 10px;
    color: #08090D;
    font-family: Commissioner;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 128.571% */}

  .order_page .Foydalanuvchi {
     position: relative;
    font-family: "Commissioner";
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: left;
    color: #a1a1a1;
  }

.order_page .order_info_box .marginer_botline {
    margin-top: 38px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.order_page .marginer_botline .location_bottom {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-right: 250px;
    margin-top: 10px;
    gap: 8px;
}

.order_page .marginer_botline .location_bottom .location {
 color: #000;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

/** Pause order box**/
.order_page .order_main_box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 850px;
    margin-top: 5px;
    height: 280px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 5px 0px rgba(0, 64, 128, 0.1);
}
.order_page .order_box_scroll {
    position: relative;
    display: flex;
    height: 251spx;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
}

.order_page .ordersName_price .orderDishImg {
    max-width: 100%;
    height: auto;
border-radius: 29px;
background: lightgray 50% / cover no-repeat;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.order_page .ordersName_price .titleDish {
position: relative;
width: auto;
height: 35px;
margin-left: 20px;
 color: #000;
font-family: Commissioner;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 163.636% */
}
.order_page .ordersName_price .priceBox {
    display: flex;
    width: auto;
    height: 38px;
    flex-direction: row;
    position: relative;
    gap: 11px;
    align-items: center;
    margin-left: 70px;
}

.order_page .ordersName_price .priceBox p {
color: #262626;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.order_page .ordersName_price {
    position: relative;
    display: flex;
    width: auto;
    height: 200px;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    
}

.order_page .total_price_box {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 821px;
    border-radius: 5px;
    
}

.order_page .boxTotal {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 40px;
}
.order_page .boxTotal p {
color: #000;
text-align: center;
font-family: Commissioner;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 257.143% */
}

.order_page .blue_button_box {
margin-left: 13px;     
width: 90px;
height: 36px;
border-radius: 10px;
border: 1px solid #0288D1;
background: #0288D1;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.order_page .red_button_box {
margin-left: 8px;
text-transform: lowercase;
font-family: "Poppins";
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 126px;
height: 36px;
border-radius: 10px;
border: 1px solid red;
background: red;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

}
.order_page .red_button_box:hover {
    background: red;
}

.order_page .order_right .order_payment_box {
    padding: 20px;
    margin-top: 13px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    border-radius: 16px;
}
.order_page .order_payment_box .input_box_pay {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.order_page .input_box_pay .row_input_box {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 8px;
}

.order_page .row_input_box .card_data {
    position: relative;
    width: 162px;
    color: #434141;
    font-family: Commissioner;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    outline: none;
    line-height: 36px; /* 276.923% */
    background: #F5F5F5;
    border: none;
}

.order_page .row_input_box .card_cvv {
    position: relative;
    width: 158px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    background: #F5F5F5; 
    border: none;

}
.order_page .input_box_pay .card_number {
    width: 322px;
    color: #434141;
    font-family: Commissioner;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    outline: none;
    line-height: 36px; /* 240% */
    margin-top: 10px;background: #F5F5F5;
    border: none;



}

.order_page .input_box_pay .card_user {
    width: 332px;
    height: 40px;
    border-radius: 5px;
    background: #F5F5F5;
    outline: none;
    border: none;

}

.order_page .order_payment_box .payment_images {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.order_page .payment_images img {
    width: 38.315px;
   height: 25.143px;
   
}

.order_page .total_price_box1 {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 821px;
    max-height: 43px;
    border-radius: 5px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background: rgba(140, 102, 242, 0.81);
    
}

.order_page .total_price_box1 .data_comp {
    color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 10px;
}

.order_page .total_price_box1 .blue_button {
width: 119px;
height: 36px;
margin-left: 20px;
text-transform:capitalize;


border-radius: 10px;
border: 1px solid #0288D1;
background: #0288D1;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}


.order_page .total_price_box2 {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 821px;
    max-height: 50px;
    border-radius: 5px;
    border-top: 1px solid #000; 
    border-bottom: 1px solid #000;
    background: #FF3434;
}
.css-13xfq8m-MuiTabPanel-root {
    padding: 24px;
    overflow: auto;
    max-height: 600px;
}