#chatCon {
  width: 20%;
  position: fixed;
  bottom: 3%;
  right: 3%;
}

#chatCon .chat-box {
  /* display: none; */
  position: sticky;
  width: 100%;
  height: 520px;
  border-radius: 25px;
  background-color: #eee;
}

#chatCon .chat-box .header {
  background-color: #3fda73;
  padding: 15px;
  border-radius: 20px 20px 0 0;
  color: #fff;
  font-size: 20px;
}

#chatCon .chat-box .msg-area {
  position: relative;
  overflow: auto;
  height: 370px;
  padding: 15px;
}

#chatCon .chat-box .msg-area .left span {
  display: inline-block;
  font-size: 17.5px;
  border-radius: 15px;
  padding: 15px;
  background-color: #ddd;
}

#chatCon .chat-box .msg-area .right {
  text-align: right;
}

#chatCon .chat-box .msg-area .right span {
  display: inline-block;
  font-size: 17.5px;
  border-radius: 15px;
  padding: 15px;
  background-color: #ddd;
}

#chatCon .chat-box .footer {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#chatCon .chat-box .footer input {
  border: 1px solid #fff;
  padding: 10px;
  width: 80%;
  border-radius: 15px;
}

#chatCon .chat-box .footer input:foucs {
  outline: none;
}

#chatCon .chat-box .footer button {
  border: none;
  font-size: 22.5px;
  color: lightgreen;
  cursor: pointer;
}

#chatCon .pop {
  width: 100%;
  height: 25%;
  cursor: pointer;
}

#chatCon .pop p {
  text-align: right;
}

#chatCon .pop img {
  border-radius: 50%;
  width: 25%;
}

 .chat_content .chat_main {
  position: relative;
  width: 100%;
  /* padding: 17px; */

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.send_msg_btn {
  margin-left: 14px;
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(180deg, #55a99d 0%, #007665 100%);
  border:none;
}



